# Base
APP_NAME=alpha-laravel-app
APP_ENV=production
APP_KEY=base64:7upP1D3BafrcMtPpvMUtwM5+FULSPZpiFpb3b4lXpL4=
APP_DEBUG=false
APP_URL=http://www.alpha-laravel.com
APP_TIMEZONE=Asia/Shanghai
APP_LOCALE=zh-CN


# Domain
APP_DOMAIN=alpha.laravel-dev.com
APP_WEB_DOMAIN=www.alpha.laravel-dev.com
APP_API_DOMAIN=api.alpha.laravel-dev.com
APP_WAP_DOMAIN=wap.alpha.laravel-dev.com
APP_WX_DOMAIN=wx.alpha.laravel-dev.com
APP_IOS_DOMAIN=ios.alpha.laravel-dev.com
APP_ANDROID_DOMAIN=android.alpha.laravel-dev.com
APP_MOBILE_DOMAIN=app.alpha.laravel-dev.com
APP_ADMIN_DOMAIN=admin.alpha.laravel-dev.com

# Log
LOG_CHANNEL=stack

# Db
DB_CONNECTION=mysql
DB_HOST=rm-m5e77m34owfly6zag.mysql.rds.aliyuncs.com
DB_PORT=3306
DB_DATABASE=laravel-app
DB_USERNAME=app_w
DB_PASSWORD=Qwer1234
DB_PREFIX=app_

# BroadCast
BROADCAST_DRIVER=log

# Cache
CACHE_DRIVER=memcached

# Session
SESSION_DRIVER=memcached
SESSION_LIFETIME=30

# Queue
QUEUE_DRIVER=database

# Redis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

# Memcached
MEMCACHE_HOST=memcached
MEMCACHE_PORT=11211

# Mail
MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

