/laravel-code/node_modules
/laravel-code/public/hot
/laravel-code/public/storage
/laravel-code/storage
/laravel-code/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
.phpunit.result.cache
